.App {
  text-align: center;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal > * {
  flex-shrink: 0;
}

.namePage {
  align-items: center;
  background-color: white;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 840px;
  position: relative;
  width: 400px;
}

.view {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 4px;
  margin-top: 94px;
  min-height: 64px;
  width: 356px;
}

.text-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Nanum Gothic Coding';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  /* width: 60px; */
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nickname {
  font-family: 'Nanum Gothic Coding';
  align-items: flex-start;
  width: 354px;
}


.nicknameInput {
  display: flex;
  /* justify-content: space- ; */
  
}

.nameLength {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  /* gap: 6px; */
  /* left: 0; */
  /* min-height: 21px; */
  /* position: absolute; */
  /* top: 0; */
  /* width: 354px; */
}

.createBtn {
  margin-top: 128px;
}

#createBtn {
  border: 2px solid #6DCEF5;
  color: #6DCEF5;
  height: 64px;
  width: 160px;
}

#createBtn:hover{
  background-color: #6DCEF5;
  color: white;
}