@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.App {
  text-align: center;
}

.screen {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-1 {
  font-family: 'Nanum Gothic Coding', monospace;
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 60px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;

}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.nickname {
  align-items: center;
  background-color: white;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 840px;
  position: relative;
  width: 400px;
}

.view {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-left: 4px;
  margin-top: 94px;
  min-height: 64px;
  width: 356px;
}
.view-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  gap: 6px;
  min-height: 21px;
  position: absolute;
  top: 0;
  width: 354px;
}

.overlap-group {
  /* height: 21px; */
  position: relative;
  width: 354px;
}

.text_label {
  color: rgb(139, 139, 139, 1);
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 12px;
  font-weight: 400;
  height: 12px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 207px;
}

.line-2 {
  height: 1px;
  margin-right: 2px;
  object-fit: cover;
  width: 352px;
}

.text-2 {
  color: rgb(139, 139, 139, 1);
  /* font-family: 'Nanum Gothic Coding', monospace; */
  font-size: 10px;
  font-weight: 400;
  height: 14px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2px;
  text-align: right;
  width: 40px;
}

.nameInput {
  /* border: none; */
  color: rgb(139, 139, 139, 1);
  font-family: 'Nanum Gothic Coding', monospace;
  /* font-size: 12px; */
  height: 30px;
  position: relative;
  /* top: 1px; */
}
.nameInput:focus {
  outline: none;
}